@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
    margin: 0;
    background-color: rgb(241, 241, 241);
    color: rgb(39, 39, 39);
    font-family: 'Comfortaa', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 8.5rem 1fr 2rem;
    
}



.nav-pokemon {
    display: flex;
    justify-content: center;
    background-color: black;
   
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    gap: 1.6rem;
}


nav ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 0.8em
}

nav ul li a:hover {
    color: rgb(0, 255, 110);
    transform: scale();
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cd0000;
    padding: 2.4rem;
}


@function textShadow($precision, $size, $color){
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;
  
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
  
    @return $value;
  }
  
  .playful span {
    position: relative;
    color: #0014c8;
    text-shadow: textShadow(0.25, 6, #E485F8);
    animation: scatter 1.75s infinite;
  }
  
  .playful span:nth-child(2n) {
    color: #c10e08;
    text-shadow: textShadow(0.25, 6, #F2A063);
    animation-delay: 0.3s;
  }
  
  .playful span:nth-child(3n) {
    color: #fcd304;
    text-shadow: textShadow(0.25, 6, #6EC0A9);
    animation-delay: 0.15s;
  }
  
  .playful span:nth-child(5n) {
    color: #060ccb;
    text-shadow: textShadow(0.25, 6, #E485F8);
    animation-delay: 0.4s;
  }
  
  .playful span:nth-child(7n), .playful span:nth-child(11n) {
    color: #e45f01;
    text-shadow: textShadow(0.25, 6, #FF5555);
    animation-delay: 0.25s;
  }
  
  @keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
  }
  

  
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    max-width: 80vw;
    height: auto;
    text-align: center;
  }

/* label {
    display: inline-block;
    color: #ff2222;
    font-family: 'Righteous', serif;
    font-size: 2em;
    text-shadow: 0.03em 0.03em 0 hsl(231.66deg 96.61% 24.11%);
} */

  

section {
    background-color:rgb(255, 248, 238)e;
    display: flex;
    flex-direction: column;
    align-items: center;
}



label {
    padding-top: 3rem;
    font-size: 2rem;
} 

.searchcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    
}

.searchbarstyle{
    min-width: 60vh;
    height: 40px;
    border: none;
    background-color: rgb(236, 238, 236);
    border-radius: 40px;
    text-align: center;
    box-shadow: 10px 10px 7px rgb(210, 210, 210);
}

.searchbuttonstyle{
    background-color: rgb(200, 200, 200);
    border: none;
    aspect-ratio: 1;
    border-radius: 100px;
    margin-left: -35px;
}

.searchbuttonstyle:hover {
    background-color: rgb(184, 137, 255);
}

.pokemonCard {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 3.4rem;
}

section.pokemonCard p {
    margin-block: 0;
}

footer {
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}


@media (max-width: 600px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 9rem 1fr 2rem;
        
    }

    header img {
        height: 150%;
    }

    h1 {
        font-size: 2.4rem;
    }

    .searchbarstyle {
        min-width: 35vh;
    }

    label {
        display: flex;
        justify-content: center;
        justify-content: center;
        font-size: 3rem;
        text-align: center;
    }

    .pokemonCard {
        padding-top: 2rem;
    }

    .pokemonInfo {
        font-size: 0.8em;
        padding: 2rem;
    }



}