body {
    margin: 0;
    background-color: rgb(241, 241, 241);
    color: rgb(39, 39, 39);
    font-family: 'Comfortaa', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 5.5rem 1fr 2rem;
    
}

.nav-pokemon {
    display: flex;
    justify-content: center;
    background-color: black;
   
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    gap: 14rem;
}
nav ul li a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 0.8em
}
nav ul li a:hover {
    color: rgb(255, 247, 2);
    transform: scale();
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cd0000;
    padding: 3.4rem;
}

#amazon-logo {
    padding: 0;
    width: 70px;
    margin-right: 200px;
}

#instagram-logo {
  padding: 0;
  width: 100px;
  margin-left: 150px;
}
  
.playful span {
    position: relative;
    color: #0014c8;
    text-shadow: textShadow(0.25, 6, #E485F8);
    animation: scatter 1.75s infinite;
}
.playful span:nth-child(2n) {
    color: #c10e08;
    text-shadow: textShadow(0.25, 6, #F2A063);
    animation-delay: 0.3s;
}
.playful span:nth-child(3n) {
    color: #fcd304;
    text-shadow: textShadow(0.25, 6, #6EC0A9);
    animation-delay: 0.15s;
}
.playful span:nth-child(5n) {
    color: #060ccb;
    text-shadow: textShadow(0.25, 6, #E485F8);
    animation-delay: 0.4s;
}
.playful span:nth-child(7n), .playful span:nth-child(11n) {
    color: #e45f01;
    text-shadow: textShadow(0.25, 6, #FF5555);
    animation-delay: 0.25s;
}
@keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    max-width: 80vw;
    height: auto;
    text-align: center;
}

section {
    background-color:rgb(255, 248, 238)e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* label {
    padding-top: 3rem;
    font-size: 2rem;
}  */

.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.searchbarstyle{
    min-width: 60vh;
    height: 40px;
    border: 4px solid black;
    background-color: rgb(236, 238, 236);
    border-radius: 40px;
    text-align: center;
    box-shadow: 10px 10px 7px rgb(210, 210, 210);
}
.searchbuttonstyle{
    background-color: rgb(200, 200, 200);
    border: none;
    aspect-ratio: 1;
    border-radius: 100px;
    margin-left: -40px;
    margin-top: 9px;
    position: absolute; /* Added this line */
}
.searchbuttonstyle:hover {
    background-color: rgb(184, 137, 255);
}


.pokemonCard {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
#name{
    font-size: 23px;
}
#pokemon-info {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: white; */
    /* border:rgb(201 221 209) solid 5px;
    border-radius: 8px; */
    padding: 3.4rem;
    height: fit-content;
    font-family: 'Josefin Slab', serif;
    max-width: 300px;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 2rem;
}
/* #pokemon-info:before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;

} */
section.pokemonCard p {
    margin-block: 0;
}
.stats {
    display: flex;
    justify-content: space-between;
    margin: 3.5px;
}

section.pokemonCard p {
    margin-block: 0;
}
section h2{
    text-transform: capitalize;
    font-size: 20px;
    border-bottom: 2px solid rgb(61, 61, 61);
    margin-top: -30px;

}
.pokemonImage {
    display: flex;
    margin-left: 50px;
}

/*desde aqui

.pokemonInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border:rgb(201 221 209) solid 5px;
    border-radius: 8px;
    padding: 3.4rem;
    height: fit-content;
    font-family: 'Josefin Slab', serif;
    max-width: 300px;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-bottom: 2rem;
}
.pokemonInfo:before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;

}
.pokemonImage {
    border: 0.5px dashed rgb(81, 81, 81);
}

.pokemonName{
    text-transform: capitalize;
    font-size: 15px;
    border-bottom: 1px dashed rgb(145, 242, 8);

}

.pokemonStats {
    display: flex;
    justify-content: space-between;
}

section.pokemonCard p {
    margin-block: 0;
}

hasta aqui*/

.pokemonCardContainer {
    opacity: 0;
    height: 120px;
}

.sprite-img {
    position: relative;
    width: 130px;
    height: 130px;
}

.sprite-img img {
    transition: opacity 300ms;
}

.sprite-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 200px;
    flex-wrap: nowrap;
}

.sprite-shiny img {
    opacity: 0;
}

.img-back-shiny:hover {
    opacity: 1;
}

.error-busqueda {
    opacity: 0;
    color: red;
    margin-top: 20px;
    display: block;
    transition: opacity 150ms;
}

.carta-pokemon .stats {
    display: none; 
  }

.profesor-oak {
    padding: 0;
    margin-top: 130px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
}

.suggestions-list li {
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    cursor: pointer;
    text-decoration: underline; 
  }


@media (max-width: 600px){
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 9rem 1fr 2rem;
    }
    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding-inline-start: 0;
        gap: 1rem
    }
    nav ul li a{
        color:antiquewhite;
        text-decoration: none;
        font-size: 0.5em
    }
    header {
        padding: 0;
    }
    #amazon-logo {
        margin-right: 0.8rem;
        width: 30px
    }
    #instagram-logo {
        margin-left: 0.7rem;
        width: 45px;
    }
    #pokemon-logo {
        height: 85px;
    }
    h1 {
        font-size: 2.4rem;
    }
    .searchbarstyle {
        min-width: 35vh;
    }
    label {
        display: flex;
        justify-content: center;
        justify-content: center;
        font-size: 3rem;
        text-align: center;
    }
    .pokemonCard {
        padding-top: 2rem;
    }
    .pokemonInfo {
        font-size: 0.8em;
        padding: 2rem;
    }
}